#theme-checkbox {
    display: none;
}

.hidden-toggler {
    display: block;
    width: 45px;
    height: 26px;
    border: 2px solid $grey-dk-000;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.toggle-switch,
.light-toggle-icon,
.dark-toggle-icon {
    position: absolute;
    top: 50%;
	font-size: 1em;
    transform: translateY(-50%);
}

.toggle-switch {
    display: inline-block;
    width: 15px;
    height: 15px;
    z-index: 1;
    background-color: $blue-100;
    border-radius: 50%;
    left: 4px;
    transition: transform 0.5s ease-in-out;
	-moz-transition: transform 0.5 ease-in-out;
	-webkit-transition: transform 0.5 ease-in-out;
}

.light-toggle-icon {
    left: 6px;
}

.dark-toggle-icon {
    right: 6px;
}

#theme-checkbox:checked + .toggle-switch {
    transform: translate(18px, -50%);
    -moz-transform: translate(18px, -50%);
    -webkit-transform: translate(18px, -50%);
}
